/*LEFT BAR*/
.left {
  background-color: #292c33;
  height: 663px;
  width: 325px;
}

.person {
  position: absolute;
  top: 20px;
  left: 40px;
  color: white;
}

.person img {
  border: 1px solid white;
  border-radius: 50% 50%;
  padding: 5px;
}

.person .name {
  position: absolute;
  top: 20px;
  left: 75px;
  width: 150px;
  font-weight: bolder;
  font-size: 14px;
}

.projects {
  margin-top: 96px;
}

.projects-header {
  background-color: #292c33;
  color: white;
  font-size: 12px;
  margin-left: 27px;
}

.addproj {
  position: absolute;
  margin-left: 175px;
  margin-top: -3px;
  font-size: 18px;
  color: white;
  font-weight: bolder;
}

.projects md-content {
  background-color: #292c33;
}

.projects md-list-item {
  margin-left: 28px;
  border-radius: 5px;

  padding: 5px;
  padding-left: 0px;
  margin-bottom: 1px;

  font-size: 12px;
  font-weight: 100;
  color: white;

  width: 263px;
  min-height: 27px;
  height: 27px;
}

.projects md-list-item:not([disabled]):hover {
  border-radius: 15px !important;

}

.projects md-list-item:not([disabled]) {
  border-radius: 5px !important;
}

.projects .active {
    background-color: #6B6B99;
}

.projects md-list-item h3 .count {
  position: absolute;
  right: 10px;
}
/*END LEFT BAR*/

/* CENTER*/
.center md-toolbar {
  min-height: 50px;
  height: 50px;

}
.md-toolbar-tools {
  background-color: #F7F7F7;
  color: #B1B1C8;
  border-bottom: 1px solid #BDBDBD;
}

.center md-toolbar .icons8-search,  .center md-toolbar .icons8-more {
  font-size: 25px;
}

.center .empty-content .icons8-todo-list{
  color: #B1B1C8;
  font-size: 200px;
}
.center md-content .empty-content {
  min-height: 613px;
  height: 613px;
  background-color: #F7F7F7;
}

.center md-content .empty-content p {
  color: #B1B1C8;
  font-size: 24px;
  position: absolute;
  top: 66%;
  text-align: center;
}

.center md-content .empty-content i {
  position: absolute;
  top: 34%;
}

.center md-content .add-task-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #6B6B99;
  font-size: 25px;
}

.add-task-btn:not([disabled]):hover {
  background-color: #6B6B99 !important;
  color: white;
}

.add-task-btn:not([disabled]) {
  background-color: #6B6B99 !important;
  color: white;
}

/*END CENTER*/


/*RIGHT SIDENAV COMMON*/
md-sidenav {
  background-color: #292C33;
}

.sidenav-toolbar, .sidenav-body {
  background-color: #292C33 !important;
}
.icons8-delete-2 {
    font-size: 21px;
}

.icons8-delete-2::after {
  content: "ESC";
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 10px;
}

.head-text {
  text-align: center;
  font-size: 14px;
  margin-top: -24px;
}

.sidenav-body label, .sidenav-body input, .sidenav-body md-button{
  color: white !important;
}

.sidenav-body input {
  border-color: white;
}

.sidenav-body input:focus {
  border-color: white !important;
}
/*END RIGHT SIDENAW COMMON*/
