<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Angular Material</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="images/css/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/master.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-cloak layout="column" ng-controller="appController" >


    <div layout="row" layout-xs="row">

      <div class="left" id="left">
        <ng-include src="'templates/left-bar.html'"></ng-include>
      </div>

      <div class="offset-block">

      </div>
      <div flex="auto" class="center">
          <md-toolbar class="md-hue-2" ng-controller="searchController">
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button" aria-label="Settings">
                <span class="icons8-search"></span>
              </md-button>
              <md-autocomplete
                  ng-disabled="isDisabled"
                  md-no-cache="noCache"
                  md-selected-item="selectedItem"
                  md-search-text-change="searchTextChange(searchText)"
                  md-search-text="searchText"
                  md-selected-item-change="selectedItemChange(item)"
                  md-items="item in querySearch(searchText)"
                  md-item-text="item.display"
                  md-min-length="0"
                  placeholder="">
                <md-item-template>
                  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                </md-item-template>
                <md-not-found>
                  No states matching "{{searchText}}" were found.
                  <a ng-click="ctrl.newState(searchText)">Create a new one!</a>
                </md-not-found>
              </md-autocomplete>
              <h2>
                <span></span>
              </h2>
              <span flex></span>

              <div layout="column" flex="33" flex-sm="100" flex-xs="100" layout-align="center center">
                <md-menu md-offset="0 -7">
                  <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <span class="icons8-more"></span>
                  </md-button>
                  <md-menu-content width="2">
                    <md-menu-item >
                      <md-button ng-click="showPrompt($event)"> <span md-menu-align-target>Редактировать</span></md-button>
                    </md-menu-item>
                    <md-menu-item >
                      <md-button ng-click="deleteProject()"> <span md-menu-align-target>Удалить</span></md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </div>
            </div>
          </md-toolbar>


          <ng-include ng-if="haveTasks" src="'templates/task-list.html'"></ng-include>
          <ng-include ng-if="!haveTasks" src="'templates/no-tasks.html'"></ng-include>


        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
          <ng-view></ng-view>
        </md-sidenav>



      </div>

    </div>

    <!-- help scrpts  -->
    <script type="text/javascript">
      window.onload = function () {
        var windowHeight = window.innerHeight;
        document.getElementById('left').style.minHeight = windowHeight + 'px';
      }
    </script>
    <!--  -->

    <!--  -->
    <script src="node_modules/angular/angular.js" charset="utf-8"></script>
    <script src="node_modules/angular-animate/angular-animate.js" charset="utf-8"></script>
    <script src="node_modules/angular-aria/angular-aria.js" charset="utf-8"></script>
    <script src="node_modules/angular-material/angular-material.js" charset="utf-8"></script>
    <script src="node_modules/angular-route/angular-route.js" charset="utf-8"></script>

    <script src="app.js" charset="utf-8"></script>
    <script src="Controllers/appController.js" charset="utf-8"></script>
    <script src="Controllers/searchController.js" charset="utf-8"></script>

    <script src="Controllers/dataService.js" charset="utf-8"></script>
    <script src="Controllers/projectController.js" charset="utf-8"></script>
  </body>
</html>
