<md-toolbar class="sidenav-toolbar">
  <md-button class="md-icon-button">
    <span ng-click="close()" class="icons8-delete-2"></span>
  </md-button>
  <span class="head-text md-subhead">Create new project</span>
</md-toolbar>
<md-content layout-padding class="sidenav-body" ng-init="projectName">
  <form>
    <md-input-container>
      <label for="projectName">Project name</label>
      <input type="text" id="projectName" md-autofocus ng-model="projectName">
    </md-input-container>
  </form>
  <md-button class="md-fab add-task-btn add-task-btn-ok"  ng-click="createNewProject(projectName); projectName = null;" class="md-accent">
    <span class="icons8-checkmark"></span>
  </md-button>
</md-content>
