<md-toolbar class="sidenav-toolbar">
  <md-button class="md-icon-button">
    <span ng-click="close()" class="icons8-delete-2"></span>
  </md-button>
  <span class="head-text md-subhead">Create New Task</span>
</md-toolbar>
<md-content layout-padding class="sidenav-body">
  <form class="createTaskForm">
    <md-input-container>
      <label for="testInput">Task name</label>
      <input type="text" id="taskName" md-autofocus ng-model="taskName">
    </md-input-container>
    <md-input-container>
      <label for="descriptionTask">Description</label>
      <input type="text" id="descriptionTask" ng-model="taskDesc">
    </md-input-container>
  </form>
  <md-button class="md-fab add-task-btn add-task-btn-ok"  ng-click="createNewTask(taskName, taskDesc); taskName = null; taskDesc = null;" class="md-accent">
    <span class="icons8-checkmark"></span>
  </md-button>

</md-content>
