<div>
  <div class="person">
    <img src="images/man.svg" width="45" alt="" />
    <span class="name">Trevor Reyes</span>
  </div>

  <div class="projects">
    <md-content>
      <md-subheader class="md-no-sticky projects-header md-subhead">
        Projects
          <md-button class="md-icon-button addproj" ng-click="toggleSidenav('add-project')">
            <span class="icons8-plus "></span>
          </md-button>
      </md-subheader>
       <div ng-repeat="project in projects" ng-click="select($index, project.id)" ng-class="{active: $index == selected}" class="list-element">
         <h3><span ng-bind="project.name"></span><span class="count" ng-bind="project.taskCount"></span></h3>
       </div>


       <h5 class="md-title logout">Log out</h5>
    </md-content>
  </div>

</div>
