<div class="person">
  <img src="images/man.svg" width="45" alt="" />
  <span class="name">Trevor Reyes</span>
</div>

<div class="projects">
  <md-content>
    <md-subheader class="md-no-sticky projects-header md-subhead">
      Projects
        <md-button class="md-icon-button addproj" ng-click="toggleSidenav('add-project')">
          <span class="icons8-plus "></span>
        </md-button>
    </md-subheader>
     <div ng-click="null" class="list-element">
       <h3>Cookie<span class="count">9</span></h3>
     </div>
     <div ng-click="null" class="list-element active">
       <h3>Cookie<span class="count">9</span></h3>
     </div>
     <div ng-click="null" class="list-element">
       <h3>Super long long prelong<span class="count">39</span></h3>
     </div>
     <div ng-click="null" class="list-element">
       <h3>Cookie<span class="count">912</span></h3>
     </div>

     <h5 class="md-title logout">Log out</h5>
  </md-content>

</div>
