<md-toolbar class="sidenav-toolbar">
  <md-button class="md-icon-button">
    <span ng-click="close()" class="icons8-delete-2"></span>
  </md-button>
  <span class="head-text md-subhead">This is my task!</span>
</md-toolbar>
<md-content layout-padding class="sidenav-body" >
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</md-content>
