

<div class="">
  <md-content class="task-list-body" id="taskbody">

    <!-- One day -->
    <div layout="row" layout-align="center">
        <h6 class="day md-subhead">Today</h6>
        <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="60" layout="column" layout-align="center center">
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group1">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">My super task</p>
            </div>
          </div>
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group2">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">My next super task</p>
            </div>
          </div>
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group3">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">ooooo</p>
            </div>
          </div>
        </div>
    </div>
    <!-- End one day -->

    <!-- One day -->
    <div layout="row" layout-align="center">
        <h6 class="day md-subhead">Tomorrow</h6>
        <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="60" layout="column" layout-align="center center">
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group4">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">WowWo</p>
            </div>
          </div>
        </div>
    </div>
    <!-- End one day -->

    <!-- One day -->
    <div layout="row" layout-align="center">
        <h6 class="day md-subhead">Monday(12.06.2019)</h6>
        <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="60" layout="column" layout-align="center center">
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group5">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">WowWo</p>
            </div>
          </div>
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group6">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">Learn HTML Programming Language</p>
            </div>
          </div>
        </div>
    </div>
    <!-- End one day -->
    <!-- One day -->
    <div layout="row" layout-align="center">
        <h6 class="day md-subhead">Today</h6>
        <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="60" layout="column" layout-align="center center">
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group7">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">Create a</p>
            </div>
          </div>

        </div>
    </div>
    <!-- End one day -->
    <!-- One day -->
    <div layout="row" layout-align="center">
        <h6 class="day md-subhead">Today</h6>
        <div class="padded" md-whiteframe="3" flex="100" flex-gt-sm="60" layout="column" layout-align="center center">
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group8">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">Think!</p>
            </div>
          </div>
          <div class="one-task" layout="row" layout-align="center center">
            <div flex="20">
              <md-radio-group ng-model="data.group9">
                <md-radio-button value="Apple" class="md-primary"></md-radio-button>
              </md-radio-group>
            </div>
            <div class="task-body" flex="80" ng-click="toggleSidenav('open-task')" style="animation: none; transition: none;">
              <p class="md-title">Do it!</p>
            </div>
          </div>
        </div>
    </div>
    <!-- End one day -->


    <!--  -->
    <br>
    <br>

    <md-button class="md-fab add-task-btn"  ng-click="toggleSidenav('add-task')" class="md-accent">
      <span class="icons8-plus"></span>
    </md-button>


  </md-content>

</div>
